In [1]:
#import dependencies
import pandas as pd

In [4]:

df = pd.read_csv("Resources/budget_data.csv")
df.sample(10)

      Date  Profit/Losses
20  Sep-11         899906
2   Mar-10         322013
10  Nov-10         893810
37  Feb-13         321469
62  Mar-15         687533
26  Mar-12         252788
55  Aug-14         800701
74  Mar-16        -174946
82  Nov-16         795914
57  Oct-14         947333

In [5]:
df.count()

Date             86
Profit/Losses    86
dtype: int64